<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.msk.clickup2.0</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B46BD3F-7B7C-4739-B16E-84CC7919E5E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EEE5BEF-F3C1-4D93-8613-17B8EA165DD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B93955D-DBE9-4DDF-A31D-14BC5893086A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E3D445-87BF-4018-A2A3-766FD017A667</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23F7EAD7-0C2F-4FE5-B43B-2CACBD0070F3</key>
		<array/>
		<key>2D04485C-2EC5-4183-9205-C88FC70D60CC</key>
		<array/>
		<key>4F92F09E-B230-4A20-B69D-7F672A076620</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93B9EBF6-0E96-405A-B80B-4B987B9258FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E75B7DC-E5A3-4BBB-AF7F-5F0015663550</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0CCA5BA-AA9E-4B49-84E1-CD10EC7B31C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66C9A272-9F1F-4912-9B7E-7443B9D65A8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12671D12-381F-4421-BBA4-9AD759EF917B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D04485C-2EC5-4183-9205-C88FC70D60CC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Close task?</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C8F12D-5C29-48AF-96AD-3402AC1526E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66C9A272-9F1F-4912-9B7E-7443B9D65A8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EEE5BEF-F3C1-4D93-8613-17B8EA165DD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E75B7DC-E5A3-4BBB-AF7F-5F0015663550</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FCB41706-0A07-4208-A0C5-A32CBDF565B2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>94E466F6-713D-43E2-9CC3-419335AE9D6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89E3D445-87BF-4018-A2A3-766FD017A667</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12671D12-381F-4421-BBA4-9AD759EF917B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D04485C-2EC5-4183-9205-C88FC70D60CC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Close task?</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E1A5F8C-D577-44AB-858C-AC4363A8DA38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB5AFC20-63DF-405D-9700-3552BFF57A9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93B9EBF6-0E96-405A-B80B-4B987B9258FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD8BBB45-DBB4-4C63-9B27-A49DDA7B6BDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E1A5F8C-D577-44AB-858C-AC4363A8DA38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B9A51E2-F231-483E-B84F-76177FA31C72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA60D8FC-3366-47F1-BDF9-824C1E5C1E39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0CCA5BA-AA9E-4B49-84E1-CD10EC7B31C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>928E324A-D0AD-43AC-A186-6811DC562D6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ED21E0FD-55A6-42FD-A43D-42BC07FF84D8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB5AFC20-63DF-405D-9700-3552BFF57A9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23F7EAD7-0C2F-4FE5-B43B-2CACBD0070F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BAC0E6FF-E09D-476B-AB4E-075B49CD1EB4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA60D8FC-3366-47F1-BDF9-824C1E5C1E39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B46BD3F-7B7C-4739-B16E-84CC7919E5E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EEEF79EA-AE26-4770-94DD-1D116CE46422</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open task after creation?</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E09B9161-F260-4D26-9561-D857E6C992DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E3D445-87BF-4018-A2A3-766FD017A667</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6C3021D-536B-4C06-8C56-4623EB1AC8CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66C9A272-9F1F-4912-9B7E-7443B9D65A8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEEF79EA-AE26-4770-94DD-1D116CE46422</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E75B7DC-E5A3-4BBB-AF7F-5F0015663550</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4B768BE-56C6-4621-A231-FA63F2CE8112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA60D8FC-3366-47F1-BDF9-824C1E5C1E39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Schmidt-Korth</string>
	<key>description</key>
	<string>Create tasks in ClickUp</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ClickUp</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>928E324A-D0AD-43AC-A186-6811DC562D6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python -O createTask.py "$1" "$optInput"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E75B7DC-E5A3-4BBB-AF7F-5F0015663550</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>testCu</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F4B768BE-56C6-4621-A231-FA63F2CE8112</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cu</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python -O main.py "$1" "$optInput"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Keep on typing...</string>
				<key>title</key>
				<string>Create task?</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA60D8FC-3366-47F1-BDF9-824C1E5C1E39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:optInput}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>openTask</string>
						<key>uid</key>
						<string>ED21E0FD-55A6-42FD-A43D-42BC07FF84D8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>notify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A0CCA5BA-AA9E-4B49-84E1-CD10EC7B31C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:isSubmitted}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>createTask</string>
						<key>uid</key>
						<string>FCB41706-0A07-4208-A0C5-A32CBDF565B2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>doNothing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7EEE5BEF-F3C1-4D93-8613-17B8EA165DD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>1B46BD3F-7B7C-4739-B16E-84CC7919E5E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>94E466F6-713D-43E2-9CC3-419335AE9D6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9B9A51E2-F231-483E-B84F-76177FA31C72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>optInput</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EEEF79EA-AE26-4770-94DD-1D116CE46422</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12671D12-381F-4421-BBA4-9AD759EF917B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>testCul</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E09B9161-F260-4D26-9561-D857E6C992DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cul</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>export query="$1"
export adj_bonus=15

./fuzzy.py /usr/bin/python -O getTasks.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Keep on typing to filter...</string>
				<key>title</key>
				<string>List tasks created via Alfred</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89E3D445-87BF-4018-A2A3-766FD017A667</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1B93955D-DBE9-4DDF-A31D-14BC5893086A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>testCus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>70C8F12D-5C29-48AF-96AD-3402AC1526E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cus</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>mode=search

export query="$1"
export adj_bonus=15

./fuzzy.py /usr/bin/python -O getTasks.py "$1" "$mode"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Keep on typing to filter...</string>
				<key>title</key>
				<string>Search all tasks of project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66C9A272-9F1F-4912-9B7E-7443B9D65A8F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python -O closeTask.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D04485C-2EC5-4183-9205-C88FC70D60CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E6C3021D-536B-4C06-8C56-4623EB1AC8CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>testCuconfig</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>4F92F09E-B230-4A20-B69D-7F672A076620</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cu:config</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>load</string>
				<key>script</key>
				<string>/usr/bin/python -O config.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Configure ClickUp settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>93B9EBF6-0E96-405A-B80B-4B987B9258FA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>DD8BBB45-DBB4-4C63-9B27-A49DDA7B6BDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python -O configStore.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E1A5F8C-D577-44AB-858C-AC4363A8DA38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>cu:config </string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>23F7EAD7-0C2F-4FE5-B43B-2CACBD0070F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:isSubmitted}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Return to :config</string>
						<key>uid</key>
						<string>BAC0E6FF-E09D-476B-AB4E-075B49CD1EB4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AB5AFC20-63DF-405D-9700-3552BFF57A9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow allows you to quickly add a task and search tasks within ClickUp 2.0.

For details, see https://github.com/mschmidtkorth/alfred-clickup-msk/blob/master/README.md</string>
	<key>uidata</key>
	<dict>
		<key>12671D12-381F-4421-BBA4-9AD759EF917B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Open task in ClickUp (web)</string>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>1B46BD3F-7B7C-4739-B16E-84CC7919E5E0</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>1B93955D-DBE9-4DDF-A31D-14BC5893086A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>23F7EAD7-0C2F-4FE5-B43B-2CACBD0070F3</key>
		<dict>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>1195</integer>
		</dict>
		<key>2D04485C-2EC5-4183-9205-C88FC70D60CC</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Close task by calling API</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>4F92F09E-B230-4A20-B69D-7F672A076620</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>935</integer>
		</dict>
		<key>5E75B7DC-E5A3-4BBB-AF7F-5F0015663550</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Create task by calling API</string>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>66C9A272-9F1F-4912-9B7E-7443B9D65A8F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Receives all tasks for current team.
Search term required.
Uses fuzzy search instead of Alfred filtering.</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>70C8F12D-5C29-48AF-96AD-3402AC1526E0</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>7EEE5BEF-F3C1-4D93-8613-17B8EA165DD6</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>89E3D445-87BF-4018-A2A3-766FD017A667</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Receives all tasks created via ClickUp by filtering on to_sort.
Search term optional.
Uses fuzzy search instead of Alfred filtering.</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>8E1A5F8C-D577-44AB-858C-AC4363A8DA38</key>
		<dict>
			<key>note</key>
			<string>Update settings</string>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>1175</integer>
		</dict>
		<key>928E324A-D0AD-43AC-A186-6811DC562D6E</key>
		<dict>
			<key>note</key>
			<string>Open task in ClickUp (web)</string>
			<key>xpos</key>
			<integer>1265</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>93B9EBF6-0E96-405A-B80B-4B987B9258FA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>List settings</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>935</integer>
		</dict>
		<key>94E466F6-713D-43E2-9CC3-419335AE9D6B</key>
		<dict>
			<key>note</key>
			<string>Show Alfred again with the previous input to continue typing</string>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>9B9A51E2-F231-483E-B84F-76177FA31C72</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A0CCA5BA-AA9E-4B49-84E1-CD10EC7B31C4</key>
		<dict>
			<key>xpos</key>
			<integer>1125</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>AB5AFC20-63DF-405D-9700-3552BFF57A9D</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>1195</integer>
		</dict>
		<key>BA60D8FC-3366-47F1-BDF9-824C1E5C1E39</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>'Alfred filters results' deactivated as input box (which would be used to filter) is updated with each keystroke.</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>DD8BBB45-DBB4-4C63-9B27-A49DDA7B6BDC</key>
		<dict>
			<key>note</key>
			<string>Used to display selected configuration item, otherwise Alfred will close after selection.</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>965</integer>
		</dict>
		<key>E09B9161-F260-4D26-9561-D857E6C992DD</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>E6C3021D-536B-4C06-8C56-4623EB1AC8CF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>EEEF79EA-AE26-4770-94DD-1D116CE46422</key>
		<dict>
			<key>note</key>
			<string>Stores whether user pressed 'opt', so no notification is created but task is opened in browser.</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>F4B768BE-56C6-4621-A231-FA63F2CE8112</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.6</string>
	<key>webaddress</key>
	<string>https://github.com/mschmidtkorth/alfred-clickup-msk/</string>
</dict>
</plist>
